# Dependencies
/frontend/node_modules
/backend/venv
/backend/app/__pycache__
*.pyc

# Environment variables
.env

# Build files
/frontend/dist

.vite/

# System files
.DS_Store
Thumbs.db 

myapikey.txt